.Menu-Principal{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    list-style: none;
    /*background-color: green;*/
    padding: 0;
   
    
}

.Menu-Principal > li{
  margin-left:10px;
  margin-right:10px;
 
}

.Menu-Principal > li > a:hover{
    color:var(--main-border-red);
}

.Menu-Principal > li > a{
    text-decoration:none;
    color:var(--color-gray);
    font-family:'Bungee Inline';
    font-size:20px;
    font-weight: 400;
    -webkit-text-stroke: 0.5px var(--main-border-red); /*tamaño y color del borde de una tipografia*/
}