.formContacto{
   display:flex;
   flex-direction:column;
   min-width: 45%;
   margin-left:20px;
   justify-items: center;
}

.formContacto > form{
   display:flex;
   flex-direction:column;

}

.formContacto > form > input{
   font-size: 0.9em!important;
}

.formContacto > form > textarea{
   background-color: var(--color-escala-gris-2);
   opacity:0.8;
   color:whitesmoke;
   font-size: 0.9em!important;
}

.formContacto > form > label{
   font-size: 0.9em!important;
}

@media (max-width:1200px){
   .formContacto{
      width: 80%;
   }
}

@media( max-width:671px){
   .formContacto > form > label{
      font-size: 0.9em!important;
   }
}