.diseño-item-content{
    justify-content:space-between;
    background-color: var(--color-escala-gris-1);
    width:30%;
    height:500px;
    margin:20px;
}

.diseño-item-content{
    margin-top:30px;
}

@media(min-width:992px){

    .diseño-item-content{
        width:25%;
        height:500px;
    }

    
}
/* Tablets */
@media(min-width:768px) and (max-width:992px){
    .diseño-item-content{
        width:30%;
        height:500px;
        margin:3px;
    }
}

/* Mobile */
@media (max-width:768px){
    .diseño-item-content{
        width:90%;
        min-height:50vh;
    }
}