.fondo-menu-inicio{
    display:flex;
    margin:0;
    padding:0;
    margin-top:0;
    list-style: none;
    flex-grow:2;
    flex-direction:row;
    flex-wrap:wrap;
    height:100vh; 
    z-index:3;
}

.fondo-menu-inicio > div{
    margin: 0;
    padding: 0;
    height: calc(100vh/2);
    width: 50%; 
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    z-index:3;
}

.fondo-menu-inicio > div:nth-child(1){ background-color: var( --color-escala-gris-1 ); }
.fondo-menu-inicio > div:nth-child(2){ background-color: var( --color-escala-gris-2 ); }
.fondo-menu-inicio > div:nth-child(3){ background-color: var( --color-escala-gris-3 ); }
.fondo-menu-inicio > div:nth-child(4){ background-color: var( --color-escala-gris-4 ); 
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content: start;
    text-align: center;
}

.fondo-menu-inicio > div > h2{    
    
    width:100%;
    font-family:'RubikVinyl-Regular';  
    font-size: calc(1em + 1vw);
}


.fondo-menu-inicio > div > form{
    justify-content: center;
    width:0%;
}

@keyframes giro {
    from{transform:scaleX(100%);}
    to{transform:scaleX(-100%);}  
}

.fondo-menu-inicio > div.montar:hover{
    animation-name: giro;
    animation-duration: 0.6s;  
    animation-direction: alternate-reverse;
    animation-iteration-count:1;
}

/* Colores titulo de los div*/
.fondo-menu-inicio > div:nth-child(1) > h2 { color:var( --color-escala-gris-3 ); }
.fondo-menu-inicio > div:nth-child(2) > h2 { color:var( --color-escala-gris-4 ); }
.fondo-menu-inicio > div:nth-child(3) > h2 { color:var( --color-escala-gris-1 ); }
.fondo-menu-inicio > div:nth-child(4) > h2 { 
    color:var( --color-escala-gris-2 ); 
    min-width:100%;
    width:100%;
}


/* Animacion para montar componentes  */
@keyframes AnimationMontar {
    
    from{ 
        transform: rotate(360deg);
        opacity:0;
    }

    to{
        transform: rotate(0deg);
        opacity:0.9;
    }  
}

.inicio-montar{
    animation-name: AnimationMontar;
    animation-duration: 4s;
    animation-fill-mode:forwards;
}

/* Animacion para desmontar los componentes  */

@keyframes AnimationDesmontar{
    from{
        margin-left:0;
        transform: rotate(360deg);
        opacity:0.9;
     }
     
     to{
        margin-left:-100vw;
        transform: rotate(0deg);
        opacity:0;
     }  
}

.inicio-desmontar{
    animation-name: AnimationDesmontar;
    animation-duration: 5s;
}

/* Animaciones para div contacto */
@keyframes Animation-disminuye-panel{

    from{
        width:50%;
    }
    to{
        width:20%;
    }  
}

.Disminuye-panel-nocontacto{
    animation-name: Animation-disminuye-panel;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes Animation-aumenta-panel{
    from{
        width:20%;
    }
    to{
        width:50%;
    }  
}

.Aumenta-panel-nocontactato{
    animation-name: Animation-aumenta-panel;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/*Panel contacto - animaciones*/

@keyframes Animacion-extender-panel{
    from{
        width:50%;
        flex-grow:1;
    }
    to{
        width:70%;
        flex-grow:2;
    }
}

.Extender-Panel-contacto{
    animation-name: Animacion-extender-panel;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes AnimationContraerH2contacto {
    from{
        min-width:100%;
        width:100%;
    }
    to{
        min-width:50%;
        width:50%;
    }
}

.ContraerH2contacto {
    animation-name: AnimationContraerH2contacto;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes AnimationExtenderH2contacto{
    from{
        min-width:50%;
        width:50%;
    }
    to{
        min-width:100%;
        width:100%;
    }
}

.ExtenderH2contacto {
    animation-name: AnimationExtenderH2contacto;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes Animacion-contraer-panel{
    from{
        width:70%;
        flex-grow:2;
    }
    to{
        width:50%;
        flex-grow:1;
    }
}

.Contraer-Panel-contacto{
    animation-name: Animacion-contraer-panel;
    animation-duration: 2s;
}





