@import url(../../var-css.css);

.div-content{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height:100vh;
    border-right:1px solid var(--main-border-gray);
    background-color: #3e4144;
    border-right:solid 10px #1f2124;
}

/* Imagen perfil */
.perfil-imagen{ /* Determina el ancho de div-content (es flex), w = 220px */  
    width:200px;
    height:200px;
    margin:20px;
    border-radius:100px;
    border:2px solid #1f2124;
    align-items:center;
}

h1{
    font-family:'Bungee Inline';
    font-size:35px;
    color:var(--color-gray);
    text-align: center;
    -webkit-text-stroke: 0.5px #7a7a7a; /*tamaño y color del borde de una tipografia*/
    margin:0;
    margin-top:-10px;
    margin-bottom:-15px;
}

h2{
    font-family:'Dancing Script';
    font-size:40px;
    font-style:oblique;
    color:var(--color-gray);
    text-align:center;
    margin:0;
    margin-top:-10px;
}

.presentacion{ 
    font-family:'Blinker-Light';
    text-align: center;
    color:var(--color-gray);
    max-width:200px;
    font-size:var(2rem*1vh);
    margin:20px;
    margin-top:5px;
    margin-bottom: -5px;  
}

.presentacion:nth-of-type(2){
    font-size:15px;
    font-family:'Xanh Mono';
    color:var(--color-gray);
    margin-top:20px;
}

.presentacion:nth-of-type(3){
    font-size:25px;
    font-family:'Xanh Mono';
    margin-top:15px;
    color:#1f2124;
}

.content-widget{
    /*border:1px solid var(--color-gray);*/
    display: flex;
    flex-wrap:wrap;
    align-self: center;
    max-width:235px;
    margin-bottom: 20px;
    
}

.content-widget:nth-of-type(1){
    margin-top:20px;
    flex-direction: row;
}


/*Medium and small devices*/
.content-icon{
    display:none;
}

@media only screen and (max-width: 1200px){

    
.content-icon{
    position:relative;
    text-align: right;
    height:80px;
    margin-bottom:-30px;
    display:block; 
}

.material-symbols-outlined {
  
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 10,
  'opsz' 30
  ;

  font-size:70px;
  margin-bottom:-10px;
  width:100%;
}

@keyframes animationOpen{
    from{
        margin-left:-170px;
    }

    to{
        margin-left:0;
    }
}

@keyframes animationClose{
    from{
        margin-left:0;
    }

    to{
        margin-left:-170px;
    }
}

.open{
    animation-name: animationOpen;
    animation-fill-mode: forwards;
    animation-duration:1s;
}

.close{
    animation-name: animationClose;
    animation-fill-mode:forwards;
    animation-duration: 1s;
}

}
