/* desktops > 992px*/
.diseño-page{
    opacity: 0.9;
    display:flex;
    flex-direction: column;
    flex-grow:2;
    height:100vh;
    overflow: hidden;
}

@keyframes AnimationInicioDiseño{
    from{
       width:0;
       height:0;
       margin-top:50%;
       transform: rotate(360deg);
    }
    to{
        width:100vw;
        height:100vh;
        transform: rotate(0deg);
        margin-top:0;
        transform: rotate(0deg);
    }  
}

.diseño-montar{
    animation-name: AnimationInicioDiseño;
    animation-duration: 3s;
}

@keyframes AnimationDesmontarDiseño{
    from{
        opacity:1;
        transform: rotate(360deg);
        transform:scaleX(100%);
    }
    to{
        opacity:0;
        transform: rotate(0deg);
        transform:scaleX(-100%);
    } 
}

.diseño-desmontar{
    animation-name:AnimationDesmontarDiseño;
    animation-duration:4s;
    background-color: none;
}

.diseño-page > h2{
    color:var(--color-escala-gris-3);
    font-family:'RubikVinyl-Regular'; 
    z-index:4;
}

menu {
    list-style: none;
    color:var(--color-escala-gris-3);
    display:flex;
    flex-direction:row;
    z-index:4;
}

menu > li{
    margin-left: 1em;
}

.volver:hover{
    color:var(--color-escala-gris-2);
}

.content-diseños{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    overflow: scroll;
    flex-grow:2;
    z-index:2;
    justify-content: center;
    padding-top: 15vh;
    margin-top:-10vh;
}

::-webkit-scrollbar {
    display: none;
}

/* tablet > 768px */
@media (min-width: 768px) { 
    .content-diseños{
        flex-direction:row;
        flex-wrap:wrap;
    }
}

/* mobile < 768px */
@media (max-width:768px){
    .content-diseños{
        flex-direction:column;
        flex-wrap:nowrap;
    }
}
