.App{
  display:flex;
  align-items:flex-start;
  flex-grow: 2;
  /*background-color: rgb(255,255,255);*/
  /*background-color:blue;*/
  width:100vw;
  height:100vh;
  justify-content:space-between;
  margin:0;
  padding:0;
  z-index:2;
  overflow:hidden;
}

.App-body{
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  /*background-color:gray;*/
  flex-grow:1;
  align-items:stretch; /* Los hijos se agrandan segun su eje definido */
  overflow: hidden;
}

.filtro-video{
  position:fixed;
  z-index:-2;
  opacity:0.9;
  height:100vh;
  width:120vw;
  background-color:var(--color-escala-gris-1);
}

@media only screen and (max-width: 1200px){
  .App{
 
    overflow:hidden;
    min-height:100vh;
    max-height:100vh;
    width:100vh;
  }
}
